.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(165, 236, 218);
}

.footer {
  background-color: rgb(115, 233, 203);
    border-top:2px solid rgb(13, 23, 83);
    position: fixed;
    width: 100%;
    bottom: 0;
    color:rgb(13, 23, 83);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.footer a:link, a:active, a:visited, a:hover {
  text-decoration: none;
}

.header {
  background-color: rgb(115, 233, 203);
  color: rgb(13, 23, 83);
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
}

.me-auto {
  margin: 0 auto;
}
.searchMain {
  margin: 10em 0px;
  color: rgb(13, 23, 83)}

.searchField {
  width: 500px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid cornflowerblue;
}

.searchButton {
  margin-left: 15px;
  height: 37px;
}

.aboutUs {
  margin-top: 5em;
}

.contactButton {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(100,150,237);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  align-items: center;
  margin-left: 50px;
  margin-top: 30px;
}

.resumeButton {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(100,150,237);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  align-items: center;
  margin-left: 20px;
  margin-top: 30px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: cornflowerblue;
  padding-left: 20px;
}

.myProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  max-height: 250px;
  margin: 3rem;
  border-radius: 40px;
}

.preview-card {
    display: inline-block;
    padding: 2rem;
}

.create-profile {
    text-align: left;
}

.create-profile-title {
    text-align: center;
    margin: 2rem;
}

h1 {
  font-family: 'Courgette', cursive;
  color: rgb(13, 23, 83);
  
}

.header a:link, a:active, a:visited, a:hover {
  text-decoration: none;
}

.navigation {
  background-color: rgb(13, 23, 83);
}

